---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fernando Reséndiz">
    <main class="container max-w-3xl mx-auto px-4">
        <section id="about" class="py-4 sm:py-12 md:py-16">
            <div
                class="flex flex-col sm:flex-row-reverse items-center justify-center gap-6 sm:gap-8"
            >
                <div
                    class="rounded-full aspect-square shrink-0 h-44 sm:h-56 md:h-64 overflow-hidden"
                >
                    <img
                        class="h-full object-cover"
                        src="/images/profile_image.jpg"
                        alt="Profile Image"
                    />
                </div>
                <div class="text-center sm:text-left">
                    <h1 class="text-3xl md:text-5xl">
                        Hi I'm Fernando Reséndiz
                    </h1>
                    <p
                        class="text-xl md:text-2xl text-rpd-foam dark:text-rp-love mt-2"
                    >
                        Software Developer
                    </p>
                    <p class="mt-4">
                        I'm a Software Developer and Computer Science student.
                        My main focus is JavaScript and the Frontend, although
                        I'm also interested in development tools and web
                        technologies in general.
                    </p>
                </div>
            </div>
            <article></article>
        </section>
    </main>
</Layout>
