---
import type { Project } from "../types";
import { Image } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

let projects = await Astro.glob<Project>("./projects/*.md");
---

<Layout title="Fernando Reséndiz">
    <main class="container max-w-3xl mx-auto px-4">
        <section id="about" class="py-8 sm:py-24 md:py-32">
            <div
                class="flex flex-col sm:flex-row-reverse items-center justify-center gap-6 sm:gap-8"
            >
                <div
                    class="rounded-full aspect-square shrink-0 h-44 sm:h-56 md:h-64 overflow-hidden"
                >
                    <Image
                        class="h-full object-cover"
                        width={256}
                        aspectRatio={1}
                        format="avif"
                        src="/images/profile_image.jpg"
                        alt="Profile Image"
                        loading="eager"
                    />
                </div>
                <div class="text-center sm:text-left">
                    <h1 class="text-3xl md:text-5xl">
                        Hi I'm Fernando Reséndiz
                    </h1>
                    <p
                        class="text-xl md:text-2xl text-rpd-foam dark:text-rp-love mt-2"
                    >
                        Software Developer
                    </p>
                    <p class="mt-4">
                        I'm a Software Developer and Computer Science student. I
                        enjoy developing apps that help solve people problems
                        using modern web technologies.
                    </p>
                </div>
            </div>
        </section>
        <section id="featured_projects" class="mb-8">
            <h2 class="text-center md:text-4xl pb-4 sm:pb-8 md:pb-12n">
                Projects
            </h2>
            <div class="flex flex-wrap justify-center gap-6 md:gap-8">
                {projects.map((project) => <ProjectCard project={project} />)}
            </div>
        </section>
    </main>
</Layout>
