---
import { Icon } from "astro-icon";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
    <div
        class="container max-w-3xl p-4 md:px-0 mx-auto flex gap-2 sm:gap-4 items-center justify-between"
    >
        <h1 class="text-xl text-rpd-love dark:text-rp-foam md:text-2xl">
            Fernando Reséndiz
        </h1>

        <nav
            class="relative py-1 self-stretch flex items-center gap-3 sm:gap-4 group"
        >
            <ul
                id="nav"
                class="transition sm:transition-none duration-75 ease-linear origin-top-right opacity-0 sm:opacity-100 scale-75 sm:scale-100 -z-50 sm:z-0 min-w-[12rem] sm:bg-transparent sm:dark:bg-transparent border-rpd-highlightLow dark:border-rp-highlightLow border-2 sm:border-0 rounded bg-rpd-surface dark:bg-rp-surface sm:gap-4 absolute sm:relative sm:top-0 right-0 top-full sm:flex"
            >
                <li>
                    <a class="hover:underline block sm:inline p-2" href="/"
                        >Home</a
                    >
                </li>
                <li>
                    <a class="hover:underline block sm:inline p-2" href="/"
                        >Projects</a
                    >
                </li>
                <li>
                    <a class="hover:underline block sm:inline p-2" href="/"
                        >Contact</a
                    >
                </li>
                <li>
                    <a class="hover:underline block sm:inline p-2" href="/"
                        >Blog</a
                    >
                </li>
            </ul>
            <ThemeToggle />
            <div
                id="navToggle"
                class="sm:hidden rounded p-2 bg-rpd-surface dark:bg-rp-surface cursor-pointer"
            >
                <Icon class="h-6 siu" name="menu_line" />
            </div>
        </nav>
    </div>
</header>

<script>
    const nav = document.getElementById("nav")!;

    const handleNavToggle = () => {
        nav.classList.toggle("scale-75");
        nav.classList.toggle("opacity-0");
        nav.classList.toggle("-z-50");
    };

    document
        .getElementById("navToggle")!
        .addEventListener("click", handleNavToggle);
</script>
