---
import Navigation from "./Navigation.astro";
---

<header>
    <div
        class="container max-w-3xl p-4 md:px-0 mx-auto flex gap-2 sm:gap-4 items-center justify-between"
    >
        <p class="font-heading text-xl md:text-2xl font-extrabold">
            Fenando Reséndiz
        </p>
        <Navigation />
    </div>
</header>
